<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Posts1</title>
	<link rel="stylesheet" href="static/css/style.css">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"async></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/form.js') }}"async></script>
	<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.3&appId=605401409963508&autoLogAppEvents=1"></script> -->
</head>
<body>

	<header>
		<fb:login-button scope="public_profile,email,user_birthday" onlogin="checkLoginState();" id='fbButtonLogin'> </fb:login-button>
		<span id="if_true" style='display: none'>
			<div >
				<a href="#" onclick="logout() "  title="logout in facebook">logout</a>
			</div>
			<p> Hello, </p>
			<span id="name_user"></span>
			<span id="id_user"></span>
		</span>
	</header>

	<div class="create_new_post">
		<div class='label_field_cnp'>
			New post?
		</div>
		<form action="{{ url_for ('index')  }}" method="POST" class='form_for_new_p'>
			{% for field in form%}
				{{ field( class='text_area_for_new_post') }}	
			{%endfor%}		
			<button type="submit" class='button_post'> Отправить</button>
		</form>
	</div>	

	  
	<article>
		<div class='name_posts'>all posts</div>
		{% for post in posts%}
		<div class="startBlock">
			<span class='text_in_db'>
				{{ post.text }}
			</span>
			
			<br>

			<span class='date_in_db'>
				{{ post.date.strftime('%d.%m.%Y, %H:%M' ) }}
			</span>

			<span class='id_in_db' style='display: None'>
				{{ post.id }}
			</span>
			
			<form action="">
				<br>
				<input type="button" value='Редактировать' onclick="editPost(this)" class='editSomePost' >
				<button type="button" onclick="test2(this)" class='delete'>Удалить</button>
				<button type="button" onclick="showComments(this)" class='commentButton'>Коментарии</button>
				{% for field in form%}
					{{ field(style='display:None',  class='editSomeText') }}
				{%endfor%}
				<br>
			</form>

				<span class='spancomments' style="display: none">
					{% for com in post.comments %}
					<form action="" class='hideForm'>

						<span class='textComments'>
							{{ com.text }}
						</span>
						<br> 
						{{ com.date.strftime('%d.%m.%Y, %H:%M') }}
						<!-- <br> -->
						<span class='idCommentLL' style="display: none"> 
							{{ com.id }}
						</span>
						<br>
						<input type="button" value='Редактировать коментарий' class='editComentLL' onclick='edit_post_comment(this)' >
						<button type="button" onclick='delete_comment_l1(this)' class='deleteCommentLL' >Удалить коментарий</button>
						<button type="button" onclick='showComentsLW(this)' class='commentLW'>Коментарии коментария</button>
						<br>
						<textarea name="" id="" cols="20" rows="5" style="display: none" class='textAreaEditLL'></textarea>
						<span style='color: red; display: none' class =' levelLW'>
							{%for co in com.Second_comments %}
								<span class='blockAllLW'>
									<span class='blockLW'>
										{{co.text}}
									</span>
									<br>
									<span>
										{{co.date.strftime('%d.%m.%Y, %H:%M')}}
									</span>
									<br>
									<span style='display: none; ' class='id_in_db_LW'>
										{{co.id}}
									</span>
									<input type="button" value='Редактировать коментарий'  onclick='edit_lw(this)' class='editComLW' >
									<button type="button" onclick='del_lw(this)' class='buttonDeleteLW'  >Удалить коментарий</button>
									<br>
									<textarea name="" id="" cols="20" rows="5" style="display: none" class='textAreaLW'  ></textarea>								
									<br>
								</span>
							{%endfor%}
							<form action="" method="POST">
								<input type="text" placeholder="Введите коментарий второго уровня" class='inputLW'>
								<button type="submit" onclick='add_comment_LW2(this)' class='comment_LW' >коментировать</button>
							</form>
						</span>
					</span>
							
					</form>

					{%endfor%}
					<br>
						<br>

					<form action="" method="POST">
						<input type="text" placeholder="Введите коментарий" class='InputComment' name='InputComment0'>
						<button type="submit" onclick='add_comment(this)' class='addcommentButton'>коментировать</button>
					</form>
				<br><br>
		</div>
		{% endfor %}
	</article>

	
</body>
</html>


